.background{
    background-image: url(../images/back2.jpg);
    background-attachment: fixed;
}

table.content{
    background-image: url(../images/bumaga.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -10px;
    background-position-y: center;
    background-color: transparent;
    width: 240px;
}