<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="lenovo"
          class="ru.second.Laptop">
        <constructor-arg value="Lenovo IdeaPad 5 15ARE05"/>
    </bean>
    <bean id="employee"
          class="ru.second.Employee">
        <constructor-arg ref="lenovo"/>
    </bean>
    <bean id="tablet"
          class="ru.second.Tablet">
        <property name="os" value="Android"/>
    </bean>
</beans>